$fg=#00c900
$bg=#fff

$white=#fff
$lightgray=#ebebeb
$lightgray2=#efefef
$darkgray=#ccc
$darkgray2=#666
$black=#000

$fglight=rgba($fg, .2)
$fgdark=desaturate(darken($fg, 0%), 90%)

$dim=.75rem
$navdim=.5rem

$radius=.4rem
$shadow=0 1px .25rem rgba(0,0,0,.1)
